<section class="container">
  <h1>Products component</h1>
  <h3>Promise response</h3>
  <button data-testid="btn-promise" (click)="callPromise()">Call promise</button>
  <p class="response">{{ promiseResponse }}</p>
  <div class="my-grid">
    <app-product
      *ngFor="let product of products"
      [product]="product"
    >
    </app-product>
  </div>
  <button class="btn-products" [disabled]="status === 'loading'" (click)="getAllProducts()">
    <span *ngIf="status === 'init' || status === 'success'">Load more</span>
    <span *ngIf="status === 'loading'">Loading</span>
    <span *ngIf="status === 'error'">Error</span>
  </button>
</section>
